.icon-add{
   background-image:url(/app/images/add.png);
 }
.icon-cart{
   background-image:url(/app/images/cart.png);
 }
.icon-delete{
   background-image:url(/app/images/delete.png);
 }
.icon-edit{
   background-image:url(/app/images/edit.png);
 }
.icon-help{
   background-image:url(/app/images/help.png);
 }
.icon-key{
   background-image:url(/app/images/key.png);
 }
.icon-user{
   background-image:url(/app/images/user.png);
 }
.icon-users{
   background-image:url(/app/images/users.png);
 }