@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Аукцион</title>
    <link href="~/ext/theme-neptune/theme-neptune-all.css" rel="stylesheet" />
    <link href="~/app/app.css" rel="stylesheet" />
    <script src="~/ext/ext-all.js"></script>
    <script src="~/ext/locale-ru.js"></script>
    <script src="~/app/app.js"></script>
</head>
<body>
@Html.AntiForgeryToken()
</body>
</html>