@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Аукцион</title>
    <link href="~/ext/theme-neptune/theme-neptune-all.css" rel="stylesheet" />
    @Styles.Render("~/Content/appcss")
    <script src="~/ext/ext-all.js"></script>
    <script src="~/ext/locale-ru.js"></script>
    @Scripts.Render("~/bundles/appjs")
</head>
<body>
@Html.AntiForgeryToken()
</body>
</html>